.footer {
    flex-direction: column;
    height: 15rem;
    width: 100%;
    margin-top: 1rem;
    background-color: black;
    text-align: center;

    &-logo {
        margin-top: 4rem;
        margin-bottom: 1rem;
        width: 122px;
        height: 40px;

    }

    &-copyright {

        color: white;
        width: 100%;


    }
}