.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2rem 3rem 2rem 3rem;

	&_fig {
		margin: 0;

	}

	img.nav-logo {
		@include mobile-breakpoint {
			width:10rem;
		}

		@include mobile-breakpoint-400 {
			width:8rem;
		}
		
	}



	@include mobile-breakpoint {
		margin: 1rem 1rem 1rem 1rem;
	}
}