.accomodation-collapse {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;

  @include mobile-breakpoint {
    display: block;
  }
}


.collapse {

  &-bar {
    width: 100%;
    @include mobile-breakpoint {
      margin-bottom: 1.5rem;
    }
  }

  &-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5rem;
    height: 45px;
    font-size: 20px;
    padding: 0 20px;
    text-align: start;
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    @include mobile-breakpoint {
      font-size: 15px;
    }
  }


  &-icon {
    width: 20px;
  }

  &_dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
    letter-spacing: 1px;
    height:auto;
    visibility: visible;
    opacity: 1;
    padding:3%;
    font-size: clamp(12px, 1.8vw, 18px);
    background-color: $grey-background;

    transform: translateY(0px);
    transition: transform 0.5s ease-in-out,
    visibility 0.5s ease-in-out, 
    height 0.5s ease-in-out,         
    opacity 0.5s ease-in-out;        
      
    ul.equipments-content {
      margin:0;
      padding:0;
      padding-left: 4%;
    }

    @include mobile-breakpoint {
      height: auto;
      padding-top:0.5rem;
      margin-bottom: 1rem;
    }

    &_hidden {
      transform: translateY(-10px);
      visibility: hidden;
      opacity: 0;
      height:0; 
    
    }
  }
}