.home-gallery {
    display: grid;
    background: #ff6060;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 30px;
    margin: 5%;
    padding: 50px;
    border-radius: 25px;
    margin-bottom: 40px;
}