.home-gallery {
  display: grid;
  background: $grey-background;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 15px;
  padding: 50px;
  border-radius: 25px;

  .thumb {
    height: 255px;
  }

  @include mobile-breakpoint {
    background-color: white;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
    padding: 0px;
    margin: 0;
  }
}