.host {
    @include mobile-breakpoint {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.accomodation-host {
    display: flex;
    color: $primary-color;
    align-items: center;
    gap: 15px;

    @include mobile-breakpoint {
       gap:0;
    }

}

.host {

    margin-top: 10px;


    &-name p {
        font-weight: 600;
        margin: 2px;

        @include mobile-breakpoint-400 {
            font-size: 12px
        }
    }

    &-img {
        border-radius: 100px;
        width: 70px;

        @include mobile-breakpoint {
            width: 100px
        }

        @include mobile-breakpoint-400 {
            width: 80px
        }
        
    }
}


