.housing-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

}

.tag {
	width: auto;
	height: 25px;
	background-color: $primary-color;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	border-radius: 10px;
	text-align: center;
	padding: 4px 15px;
	margin: 0;
}