main {

  margin: 0 3rem 0 3rem;

  @include mobile-breakpoint {
    margin: 0 1rem 0 1rem;
  }


}

.about {

  .header nav a.nav-link-home {
      text-decoration: none;
  }
  

  .collapse-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    
    .collapse-bar {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      width: 100%;
    }

    .collapse-button {
      width:100%;
      font-weight: 600;
    }
  
    .collapse_dropdown {
      padding:0;
      padding: 2%;
  
      @include mobile-breakpoint {
        margin: 0;
      }
    }
  
    .footer {
      margin-top: 1.2rem;
    }
  }
  
}



