.slide {
	display: flex;
	position: relative;
	width: auto;
	height: 43rem;

	@include mobile-breakpoint {
		height: 20rem;
	}
	
}

.slider {
	position: absolute;
	width: 100%;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	border-radius: 10px;
	opacity: 0;

	& img {
		z-index: 1;
		object-fit: cover;
		width: 100%;
		overflow: hidden;
		height: 43rem;
		left: 0%;
		right: 0%;
		top: 0%;
		bottom: 0%;
		border-radius: 10px;

		@include mobile-breakpoint {
			height: 20rem;
		}


	}
}

.active {
	opacity: 1;
}

p.left-Arrow , p.right-Arrow {
	display: flex;
	position: absolute;
	scale: 300%;
	top: 43%;
	height: 20px;
	width: 12px;
	z-index: 10;
	cursor: pointer;

	@include mobile-breakpoint {
		scale: 200%
	}
}

p.right-Arrow {
	right:2%
}

p.left-Arrow {
	left:2%
}


.accomodation-header {
	display: flex;
	justify-content: space-between;

	.accomodation-info {
		
		h1 {
			color:$primary-color
		}

		p {
			font-weight: 600;
		}
	}

	@include mobile-breakpoint {
		display: block
	}


		.rating{
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;
			margin-top: 10px;
			
		
			@include mobile-breakpoint {
				height: 20px;
				margin-top: 30px;
			}

			@include mobile-breakpoint-400 {
				margin-top: 25px;
			}
		}
		

		
	}

	

	


