$primary-color: #ff6060;
$grey-background : #f6f6f6;


$breakpoint: (
	desktop: 768px,
	mobile: 400px,
);


@mixin mobile-breakpoint {
	@media screen and (max-width: map-get($breakpoint, desktop)) {
		@content;
	}
}

@mixin mobile-breakpoint-400 {
	@media screen and (max-width: map-get($breakpoint, mobile)) {
		@content;
	}
}

