@import '../../variables.scss';

.home-gallery {
    display: grid;
    background: $primary-color;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 15px;
    padding: 50px;
    border-radius: 25px;
    margin-bottom: 50px;

    @include mobile-breakpoint {
		grid-template-columns: repeat(1, 1fr);
        row-gap: 5px;
        padding: 30px;
	}
}