/* ---------------------------------------- */
/* ==          VARIABLES             */
/*---------------------------------------- */

$primary-color: #ff6060;


$breakpoint: (
	desktop: 768px,
);


@mixin mobile-breakpoint {
	@media screen and (max-width: map-get($breakpoint, desktop)) {
		@content;
	}
}



