@import "../utils/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {

  height: 100%;
  margin: 0px;

}

main {

  margin: 0 5rem 0 5rem;

  @include mobile-breakpoint {
    margin: 0 1rem 0 1rem;
  }


}